<!doctype html>
<html data-bs-theme="auto" lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <title>AzureFit</title>
    <link rel="icon" th:href="@{/favicon.ico}">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: dodgerblue;">
        <a class="navbar-brand" th:href="@{/}">AzureFit</a>
        <button aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#navbarText" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="justify-content-end navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Главная </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/services/}">Услуги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/subscriptions/}">Абонементы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about/}">О нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/trainers/}">Тренеры</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main>
    <div class="row">
        <div class="offset-md-4 col-md-4 col-sm-4 offset-sm-1 text-center">
            <h2 class="fw-normal featurette-heading" style="color: dodgerblue">Персональные занятия</h2>
        </div>
    </div>

    <div class="offset-md-2 col-md-8 col-sm-6 offset-sm-2">
        <p>
        <h3 class="fw-normal">Добро пожаловать в мир персонального тренинга, где ваш успех и достижение фитнес-целей становятся нашим
        приоритетом.
        </h3><br>
        Вместе мы создадим индивидуальную программу тренировок, которая будет соответствовать вашим
        потребностям, возможностям и целям.<br><br>

        Что вы можете ожидать от нашего персонального тренинга:<br><br>

        Индивидуальный подход: Мы полностью учитываем ваши физические возможности, здоровье, предпочтения и цели. Наш
        опытный персональный тренер будет работать с вами один на один, чтобы разработать персонализированную программу
        тренировок, учитывающую все ваши потребности и аспекты вашей физической формы.<br><br>

        Оптимальные результаты: Наша цель - помочь вам достичь максимальных результатов с минимальными усилиями. Ваш
        персональный тренер будет тщательно следить за вашим прогрессом, корректировать тренировочные планы и
        обеспечивать эффективность каждой тренировки, чтобы вы могли достигнуть своих фитнес-целей быстрее.<br><br>

        Разнообразие тренировок: Мы предлагаем разнообразные методики и виды тренировок, чтобы сохранить ваши тренировки
        интересными и мотивирующими. Это может включать силовые тренировки, кардио-сессии, функциональные тренировки,
        гибкость и многое другое. Разнообразие помогает не только развивать различные аспекты физической формы, но и
        предотвращает скуку и монотонность.<br><br>

        Постоянная поддержка и мотивация: Ваш персональный тренер будет вашим главным союзником, постоянно поддерживая
        вас на пути к достижению ваших целей. Они будут учитывать вашу мотивацию, следить за вашим эмоциональным
        состоянием и помогать вам преодолевать трудности, чтобы вы оставались на правильном пути.<br><br>

        Безопасность и правильная техника: Ваш персональный тренер обеспечит безопасность во время тренировок, следя за
        вашей правильной техникой выполнения упражнений и предоставляя необходимую инструкцию. Это поможет вам избежать
        возможных травм и получить максимальную выгоду от каждой тренировки.<br><br>

        С персональным тренингом вы получите индивидуальное внимание, специально разработанную программу и постоянное
        сопровождение на пути к достижению ваших фитнес-целей. Нашей целью является ваш успех, и мы готовы помочь вам
        превзойти свои ожидания и стать лучшей версией себя!<br><br>

        Присоединяйтесь к нам, чтобы начать свой путешествие к здоровью, силе и достижению физической гармонии!<br><br>
    </div>
</main>
<footer class="footer-1" id="footer">
    <div class="main-footer widgets-dark typo-light">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="widget subscribe no-box">
                        <h5 class="widget-title">AzureFit<span></span></h5>
                        <p>Фитнес-центр </p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="widget no-box">
                        <h5 class="widget-title">Быстрые ссылки<span></span></h5>
                        <ul class="thumbnail-widget">
                            <li>
                                <div class="thumb-content"><a th:href="@{/}">Главная</a></div>
                            </li>
                            <li>
                                <div class="thumb-content"><a th:href="@{/services/}">Услуги</a></div>
                            </li>
                            <li>
                                <div class="thumb-content"><a th:href="@{/about/}">О нас</a></div>
                            </li>
                            <li>
                                <div class="thumb-content"><a th:href="@{/subscriptions/}">Абонементы</a></div>
                            </li>
                            <li>
                                <div class="thumb-content"><a th:href="@{/trainers/}">Тренеры</a></div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">

                    <div class="widget no-box">
                        <h5 class="widget-title">Контакты<span></span></h5>

                        <p><a href="#" title="glorythemes">info@domain.com</a></p>
                        <ul class="social-footer2">
                            <li class=""><a href="/" target="_blank" title="youtube"><img alt="youtube" height="30"
                                                                                          src="" width="30"></a></li>
                            <li class=""><a href="/" target="_blank" title="Facebook"><img alt="Facebook" height="30"
                                                                                           src="" width="30"></a></li>
                            <li class=""><a href="/" target="_blank" title="Twitter"><img alt="Twitter" height="30"
                                                                                          src="" width="30"></a></li>
                            <li class=""><a href="/" target="_blank" title="instagram"><img alt="instagram" height="30"
                                                                                            src="" width="30"></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>AzureFit © 2023. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
